:root {
    --fonte-principal: "Montserrat";
    --cor-fundo: #F8F4FF;
    --cor-branco: #EFF0F4;
    --cor-preto-texto: #464646;
    --cor-branca-texto-botoes: #FFFFFF;
    --cor-cinza: #A3A3A3;
    --cor-amarelo-botão: #FFB050;
    --cor-cinza-borda-botao: #ECECEC;
    --cor-azul-botao: #4894FF;
    --cor-preto-horario: #333333;
    --cor-branco-retangulo: #FFFFFF;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.cabecalho__inicio {
    background-color: var(--cor-branco-retangulo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.cabecalho__horario {
    color: var(--cor-preto-horario);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.cabecalho__icones {
    display: flex;
    align-items: center;
}

.cabecalho__icones img {
    margin-left: 8px;
}

.cabecalho__icones img:first-child {
    margin-left: 0;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil__informacoes {
    margin-left: 8px;
}

.perfil__titulo {
    color: var(--cor-preto-texto);
    font-weight: 700;
    font-size: 22px;
    font-size: 16px;
    margin-bottom: 12px;
}

.perfil__paragrafo {
    color: var(--cor-cinza);
    font-weight: 400;
    font-size: 14px;
    font-size: 16px;
    margin: 0;
}

.perfil__foto__principal {
    border-radius: 50%;
    width: 57px;
    height: 57px;
    object-fit: cover;
    margin: 32px 16px 22px 16px;
}

.container__dia {
    color: var(--cor-preto-texto);
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
}